
.statusAbierto {
    color: green;
}

.statusCerrado {
    color: red;
}

[data-status="abierta"] {
    color: green;
}

[data-status="cerrada"] {
    color: red;
}

.labid {
    padding-left: 1em;
    margin-left: 1em;
}

.dialogButton{
    margin-right: 1em;
}

.LabelWithInput{
    margin-top: 0.5em;
}

.myTable {
    width: 100%;
    height: 100%;
  }